/* BEGIN sticky footer */
html, body, #content-wrapper { height: 100%; }
body > #content-wrapper { height: auto; min-height: 100%; }

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

#content-wrapper { 
  padding-bottom: 3em;
}
/* END sticky footer */


body {
  background-color: #EFF2F3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

hr {
  border-color: #323232;
}


/* BEGIN gitcover header/footer */

.gitcover-header, .gitcover-footer {
  color: #EFF2F3;
  background-color: #0D1B1E;
}

.gitcover-header {
  padding: 3px;
  margin-bottom: 18px;
}

.gitcover-header h1{
  margin: 3px 12px;
  color: #EFF2F3;
  font-size: 18px;
  line-height: 24px;
}

.gitcover-footer {
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 18px;
}

/*
.gitcover-header .header-img{
  height: 48px;
  width: 48px;
  float: left;
  margin: 0 12px 0 0;
}
*/

/*
.gitcover-header h1{
  font-size: 30px; 
  font-weight: 300; 
  line-height: 42px; 
  margin: 0;
}
*/

.gitcover-header .gitcover-header-btn {
  float: right;
  margin: 0;
}

/*
.gitcover-header .gitcover-header-btn span{
  font-size: 18px; 
  font-weight: 300; 
  line-height: 24px; 
  color: #EFF2F3;
  margin: 0; 
  cursor: pointer;
}
*/

/* END gitcover header */


/* BEGIN Profile item */

/*
.gitcover-profile-info {
  min-height: 48px;
}

.gitcover-profile-info .profile-pic{
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 12px;
}

.gitcover-profile-info h3{
  line-height: 48px;
}
*/

.gitcover-user-info {
    text-align: center;
    margin-bottom: 24px;
}

.gitcover-user-info .profile-pic{
  width: 84px;
  height: 84px;
}

.gitcover-user-info .tags {
    max-width: 24em;
    display: inline-block;
}

.gitcover-user-info .tags .tag{
    padding: 2px 9px;
    margin: 3px;
}

/* END Profile item */




/* BEGIN Masonry layout */

*, *:before, *:after {box-sizing:  border-box !important;}

.gitcover-items {
  padding: 1em;
  
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;  
  
  width:96%;
  margin: 0 auto 0 auto;
}


.gitcover-item-wrapper {
   display: inline-block;
   margin:  0 0 1em 0;
   padding:  0;
   width:  100%; 
}


/* END Masonry layout */



/* BEGIN GitCover tags item */


/* Prevent "button glow" when pressing/pressed. */
.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.gitcover-tags-item{
  overflow: auto;
  padding: 24px 0;
}

.gitcover-tags-item .gitcover-tag{
  float: left;
  margin: 3px 6px 3px 0;
  padding: 3px 6px;
}


/* END GitCover tag item */


/* BEGIN GitCover item */

a.gitcover-item-link:hover,  a.gitcover-item-link:visited,
a.gitcover-item-link:link,  a.gitcover-item-link:active {
  text-decoration: none;
}

.gitcover-item {
  color: #323232;
  position:relative;
  padding: 4em;
  text-align: center;
}


.gitcover-item.with-link:hover {
  cursor: pointer;
  background-color: #E4EBEC;
}


.gitcover-item h1{
  font-size: 36px;
  line-height: 42px;
}

.gitcover-item h2{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px;
}

.gitcover-item hr {
  margin: 6px 0; 
}

.gitcover-item hr.dark {
  border-color: #323232;
  margin: 18px 0; 
}

.gitcover-item hr.light {
  border-color: #969696;
}

.gitcover-item-badge {
  /*
  position: absolute;
  top: 3px;
  left: 3px;
  max-width: 24px;
  */
  width: 36px;
  height: 36px;
}

.gitcover-item p{
  margin: 24px 0;
}



.gitcover-item-thumbnail{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

img.gitcover-item-thumbnail{
  width: 100%;
}


/*
div.gitcover-item-thumbnail{
  min-height: 60px;
  text-align: center;

  
  background-color: #086375; 
  color: #EFF2F3;
}


div.gitcover-item-thumbnail.theme-1{
  background-color: #BED7EC;
  color: #00120B;
}

div.gitcover-item-thumbnail.theme-2{
  background-color: #001934;
}
*/

/*
div.gitcover-item-thumbnail p{
  width: 70%;
  margin: 0 auto;
  padding: 42px 0;
  
  font-size: 18px; 
  font-weight: 300; 
  line-height: 20px;
}
*/
/*
.gitcover-item h2 { 
  font-size: 18px; 
  font-weight: 300; 
  line-height: 28px; 
  margin: 12px 18px 12px 18px; 
}
*/

/*
.gitcover-item p {
  font-size: 14px;
  margin: 0 18px 0 18px;
  padding: 12px 0 12px 0; 
}
*/


.gitcover-item div.tags{
  overflow-y: auto;
  padding: 0 3em;
  font-size: 14px; 
  color: #969696;
}

.gitcover-item .tag{
  display: inline-block; 
}

.gitcover-item .tag-sep{
  margin: 0 6px;
}


/* END GitCover item */
