<div ng-if="shouldDisplayItem(item)" class="gitcover-item-wrapper" >

    <div class="gitcover-item img-rounded"
        ng-class="item.url ? 'with-link' : ''"
        ng-click="itemClicked(item)">


        <img ng-if="item.badge" class="gitcover-item-badge" ng-src="{{item.badge}}">


        <!-- The thumbnail can be an image -->
        <div ng-if="item.thumbnail">
            <img class="gitcover-item-thumbnail img-rounded" ng-src="{{item.thumbnail}}"/>
            <h2>{{item.title}}</h2>
        </div>
        <!-- The thumbnail can also be a div with a solid background colour -->
        <div ng-if="! item.thumbnail" class="gitcover-item-thumbnail img-rounded" ng-class="item.css_class">
            <p>{{item.title}}</p>
        </div>


        <p>
        {{item.description}}
        </p>


        <div ng-if="item.tags && item.tags.length > 0" class="tags">
            <hr />
            <div ng-repeat="tag in item.tags" class="tag label label-default">{{tag}}</div>
        </div>


    </div>


</div>